fastapi
uvicorn
python-multipart
faster-whisper
yt-dlp
ffmpeg-python
streamlit
requests
python-dotenv
python-magic
isodate
httplib2
google-api-python-client
user-agents

# Dev
pytest
httpx
ruff
pytest-asyncio
